Source/VirtualRouterClient/Service References/VirtualRouterService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://VirtualRouter" elementFormDefault="qualified" targetNamespace="http://VirtualRouter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31337/VirtualRouter/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VirtualRouterHost" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VirtualRouterHost" minOccurs="0" name="sharedConnection" nillable="true" type="q1:SharableConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConnectionSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxPeerCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConnectionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetConnectionSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VirtualRouterHost" minOccurs="0" name="GetConnectionSettingsResult" nillable="true" type="q2:ConnectionSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharableConnections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharableConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VirtualRouterHost" minOccurs="0" name="GetSharableConnectionsResult" nillable="true" type="q3:ArrayOfSharableConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassword">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStarted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStartedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsStartedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedPeers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectedPeersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VirtualRouterHost" minOccurs="0" name="GetConnectedPeersResult" nillable="true" type="q4:ArrayOfConnectedPeer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSharedConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VirtualRouterHost" minOccurs="0" name="GetSharedConnectionResult" nillable="true" type="q5:SharableConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastError">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>